

.Officerlist .container {
    background-color: transparent;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.Officerlist h2 {
    font-size: 35px;
    padding-top: 80px;
    text-align: center;
    margin-bottom: 30px;
    color: #071842;
}

/* Table Styling */
.responsive-table {
    width: 100%;
    border-collapse: separate; /* Change to separate to allow margin between rows */
    margin: 20px 0;
    font-size: 14px;
    text-align: center;
    border-spacing: 0 8px; /* Add space between rows (8px here, adjust as needed) */
}

.responsive-table th, .responsive-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Horizontal borders between rows */
}

/* Remove vertical borders */
.responsive-table th {
    background-color: #9598a6;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: bold;
}

/* Button Styling */
.col_btn {
    border: none;
    outline: none;
    padding: 5px 22px;
    background: transparent;
    border: 1px solid #00337C;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 5px;
    transition: 0.3s;
    background: #2684ff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}

.col_btn:hover {
    background: transparent;
    color: #2684ff;
    border: 1px solid #00337C;
}

/* Mobile Responsiveness */
@media all and (max-width: 767px) {
    .responsive-table th, .responsive-table td {
        padding: 8px;
    }

    .Officerlist h2 {
        font-size: 28px;
        padding-top: 40px;
    }

    .col_btn {
        margin-top: 10px;
        padding: 8px 18px;
        width: 100%;
    }
}


 
 
 
 